<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540597534616-fipbgtqarf0tn3k9abqthboms33igap3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540597534616-fipbgtqarf0tn3k9abqthboms33igap3</string>
	<key>API_KEY</key>
	<string>AIzaSyBaZdVL0JHpgtkV32uM-EWTIUlLRz56S9k</string>
	<key>GCM_SENDER_ID</key>
	<string>540597534616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CafePrices</string>
	<key>PROJECT_ID</key>
	<string>cafeprices</string>
	<key>STORAGE_BUCKET</key>
	<string>cafeprices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540597534616:ios:d0c058e8c5c3fa6498b5ed</string>
</dict>
</plist>